<div>
    <div class="checkbox checkbox-primary checkbox-inline" >
        <input id="chkbx_payments_cash" type="checkbox" checklist-model="data.attributes.payment_methods" checklist-value="'cash'" >
        <label for="chkbx_payments_cash">
            Cash
        </label>
    </div>
    <div class="checkbox checkbox-primary checkbox-inline" >
        <input id="chkbx_payments_cards" type="checkbox" checklist-model="data.attributes.payment_methods" checklist-value="'cards'" >
        <label for="chkbx_payments_cards">
            Cards
        </label>
    </div>
    <div class="checkbox checkbox-primary checkbox-inline" >
        <input id="chkbx_payments_wallets" type="checkbox" checklist-model="data.attributes.payment_methods" checklist-value="'wallets'" >
        <label for="chkbx_payments_wallets">
            Wallets
        </label>
    </div>
</div>