<div ui-tree-handle class="form_component_content">
    <a class="pull-right btn btn-white btn-xs component_controls" data-nodrag ng-click="remove_question(this, component)"><span class="fa fa-trash"></span></a>
    <a class="pull-right btn btn-white btn-xs component_controls" data-nodrag ng-click="edit_question(this, component)"><span class="fa fa-pencil"></span></a>

    <div class="form-group" ng-init="trans_text = Translations[component.text_translation_id]" id="component_{$ component.label $}">
        <label for="fld_{$ component.label $}" class="control-label">
            <span ng-bind-html="trans_text.sentence"></span><span class="required" ng-if="component.required">*</span>
            <br ng-if="component.description"/>
            <small ng-show="component.description" ng-init="trans_description = Translations[component.description]" ng-bind-html="trans_description.sentence"></small>
        </label>
        <div style="margin-left: 20px;">
            <div ng-if="component._cls != 'BinaryFormField'">
                <div class="radio radio-primary" data-nodrag ng-repeat="choice in component.list_choices">
                    <input type="radio" class="answerfield" id="rd_{$ component.label $}_{$ choice.value $}" name="{$ component.label $}" ng-value="choice.value">
                    <label for="rd_{$ component.label $}_{$ choice.value $}">
                        {$ choice.text $}
                    </label>
                </div>

                <div class="radio radio-primary" data-nodrag ng-if="component.allow_other">
                    <input type="radio" class="answerfield" id="rd_{$ component.label $}_{$ component.other_value $}" name="{$ component.label $}" ng-value="component.other_value">
                    <label for="rd_{$ component.label $}_{$ component.other_value $}">
                        {$ component.other_text $}
                    </label>
                </div>
            </div>
            <div ng-if="component._cls == 'BinaryFormField'">
                <div class="radio radio-primary" data-nodrag>
                    <input type="radio" class="answerfield" id="rd_{$ component.label $}_{$ component.true_value $}" name="{$ component.label $}" ng-value="component.true_value">
                    <label for="rd_{$ component.label $}_{$ component.true_value $}">
                        {$ component.true_text $}
                    </label>
                </div>
                <div class="radio radio-primary" data-nodrag>
                    <input type="radio" class="answerfield" id="rd_{$ component.label $}_{$ component.false_value $}" name="{$ component.label $}" ng-value="component.false_value">
                    <label for="rd_{$ component.label $}_{$ component.false_value $}">
                        {$ component.false_text $}
                    </label>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 30px;" ng-if="component.allow_other">
            <div class="user_notes_brief" style="margin: 0px 0px 5px 15px;">
                If '{$ component.other_text $}' is selected, following question is asked:
            </div>
            <div class="col-md-5" ng-include="'/static/partials/form_builder/look-n-feel/choice_other.html'" ng-init="placeholder=true">
            </div>
        </div>
    </div>

    <div class="user_notes_brief" ng-if="component.user_notes" ng-bind-html="component.user_notes">
    </div>
</div>