{% extends 'console/base.html' %}
{% load static %}

{% block head %}
    <link rel="shortcut icon"  href="{{ request.curr_org.icon.url }}" />

    <title>BSP imports in queue | {{ request.curr_org.name }}</title>

    <link href="{% get_static_prefix %}ui/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="{% get_static_prefix %}ui/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="{% get_static_prefix %}ui/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-xs-8">
            <h2>
                <i class="fa fa-tasks"></i>
                BSP imports in queue
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'console_org_home' %}?c={{ request.curr_org.org_uid }}">Home</a>
                </li>
                <li>
                    <a href="{% url 'console_market_bsp_panel' %}?c={{ request.curr_org.org_uid }}#/bsps">
                        Business or Service Point
                    </a>
                </li>
                <li class="active">
                    BSP imports in queue
                </li>
            </ol>
        </div>
        <div class="col-xs-4">
            <div class="title-action" style="padding-top: 20px !important;">
                <a href="{% url 'console_market_bsp_import' %}?c={{ request.curr_org.org_uid }}" class="btn btn-primary">
                    <i class="fa fa-cloud-upload"></i>
                    &nbsp;Import BSPs
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content" style="padding-top: 20px;">
        <div class="container" ng-cloak>
            <div class="" ng-controller="MainCtrl">

                <div ng-if="ui_flags.state==ST_AJAX.LOADING" class="loading_big" align="center" valign="middle">
                    <img src="{% get_static_prefix %}images/loading/spinner_1.gif" style="height: 40px">
                    <h3 style="margin-top: 20px;font-weight: normal;">Loading pending imports ...</h3>
                </div>
                <div ng-if="ui_flags.state==ST_AJAX.ERROR" class="alert alert-danger">
                    <table style="width: 100%">
                        <tr>
                            <td valign="top" style="width: 90px;">
                                <i class="fa fa-exclamation-triangle" style="font-size: 60px;"></i>
                            </td>
                            <td valign="top">
                                <h2 style="margin-top: 0px;">Error!</h2>
                                <div>
                                    {$ ui_flags.error_msg $}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-show="ui_flags.state==ST_AJAX.COMPLETED">
                    <div ng-if="list_datarecords.length==0" class="alert alert-success" style="margin-bottom: 0px;">
                        <table style="width: 100%">
                            <tr>
                                <td valign="top" style="width: 90px;">
                                    <i class="fa fa-check-circle" style="font-size: 80px;"></i>
                                </td>
                                <td valign="top">
                                    <h2 style="margin-top: 0px;">No pending imports!</h2>
                                    <div>
                                        There are no pending imports in the queue. All imports have been processed.
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div ng-show="list_datarecords.length">
                        <style>
                            .ui-jqgrid{
                                border: none;
                            }
                        </style>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Queue

                                <div class="btn-group pull-right">
                                    <button class="btn btn-primary btn-outline btn-xs" type="button" ng-click="refresh_imports();">
                                        <i class="fa fa-refresh"></i> Refresh
                                    </button>
                                    <button class="btn btn-primary btn-outline btn-xs" type="button" ng-click="remove_imports()">
                                        <i class="fa fa-trash-o"></i> Remove
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body" style="padding: 0px;">
                                <!-- Response grid -->
                                <ng-jqgrid
                                        config="grid_datarecords.config"
                                        modeldata="list_datarecords"
                                        gridid="{$ grid_datarecords.gridid $}"
                                        pagerid="{$ grid_datarecords.pagerid $}"
                                        api="grid_datarecords.gridapi"
                                        filtertoolbar="{stringResult: true, searchOnEnter: false, defaultSearch: 'cn'}"
                                ></ng-jqgrid>
                                <!-- /Response grid -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% get_static_prefix %}ui/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="{% get_static_prefix %}ui/js/plugins/sweetalert/angular-sweetalert.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}ui/js/plugins/uievents/event.js"></script>
    <script src="{% get_static_prefix %}ui/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <script src="{% get_static_prefix %}ui/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="{% get_static_prefix %}ui/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="{% get_static_prefix %}lib/angular/angular-jqgrid/angular-jqgrid.js"></script>

    <script src="{% get_static_prefix %}apps/storeroom/storeroom.js"></script>
    <script>
        'use strict';

        var APP = angular.module('{{ app_name }}',[
            'feedvay.uiapp',
            'feedvay.common',
            'feedvay.watchdog',
            'feedvay.storeroom',

            'ngCookies',
            'ngMessages',
            'ui.bootstrap',
            'angular-ladda',
            'angular-jqgrid',
            'oitozero.ngSweetAlert',
            'ui.event',
        ])
        .run(function($rootScope, $http, $cookies) {
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;

            $http.defaults.xsrfCookieName = 'csrftoken';
            $http.defaults.xsrfHeaderName = 'X-CSRFToken';

            $rootScope.ST_AJAX = ST_AJAX;
        })
        .config(function($interpolateProvider, $httpProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');

            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
        });

        APP.controller('MainCtrl', function($scope, $http, $window, SweetAlert, ServiceStoreroom){
            $scope.ui_flags = {
                state: null,
                error_msg: null
            };

            // Jqgrid
            $scope.list_datarecords = [];
            $scope.grid_datarecords = {
                gridid: "grid_datarecords",
                pagerid: "grid_datarecords_pager",
                config: {
                    datatype: "local",
                    colNames: [
                        '',
                        'Batch ID',
                        'Filename',
                        'BSP Type',
                        'Name',
                        'Status',
                        'Error message',
                        'Created by',
                        'Created on',
                    ],
                    colModel: [
                        { name: 'id', index: 'id', width: 20, hidden:true, search:false },
                        { name: 'batch_id', index: 'batch_id', width: 40 },
                        { name: 'filename', index: 'filename', width: 30 },
                        { name: 'identifiers.bsp_type', index: 'identifiers.bsp_type', width: 30 },
                        { name: 'data.name', index: 'data.name', width: 30 },
                        { name: 'status_html', index: 'status', width: 25,
                            stype: 'select', searchoptions:{ sopt:['cn'], value: ":All;{% for s in ImportRecord.CH_STATUS %}{{ s.0 }}:{{ s.1 }}{% if not forloop.last %};{% endif %}{% endfor %}" }
                        },
                        { name: 'error_message', index: 'error_message', width: 60 },
                        { name: 'created_by.display_name', index: 'created_by.display_name', width: 30 },
                        { name: 'created_on', index: 'created_on', width: 30,
                            sorttype:'date', formatter: "date", formatoptions: { srcformat: 'Y-m-dTH:i:s', newformat: 'd-M-Y' },
                            searchoptions: {
                                attr:{ placeholder: 'Select date', readonly:'readonly'},
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        format: 'yyyy-mm-dd',
                                        keyboardNavigation: false,
                                        autoclose: true,
                                        todayHighlight: true,
                                    }).on('changeDate', function(e) {
                                        $('#grid_datarecords')[0].triggerToolbar();
                                    });
                                }
                            }
                        },
                    ],
                    grouping:true,
                    groupingView : {
                        groupField : ['batch_id'],
                        groupColumnShow : [false],
                        groupText : ['<b>BatchID: {0}</b> - {1} Record(s)'],
                        groupCollapse : true,
                        groupOrder: ['asc']
                    },
{#                    caption: 'BSPs in queue',#}
                    viewrecords: true,
                    sortname: 'batch_id',
                    sortorder: "asc",
                    rowNum: 100,
                    rowList: [50, 100, 250, 500, 100000],
                    autowidth : true,
                    height: '300px',
                    shrinkToFit: true,
                    hidegrid: false,
                    ignoreCase:true,
                    multiselect: true
                },
                filtertoolbar: {
                    stringResult: true, searchOnEnter: false, defaultSearch: 'cn',
                },
                gridapi: {}
            };


            $scope.refresh_imports = function() {
                $scope.ui_flags.state = ST_AJAX.LOADING;
                $scope.ui_flags.error_msg = null;
                ServiceStoreroom.get('{{ request.curr_org.org_uid }}', 'bsp').then(
                        function (response) {
                            var records = response.objects;

                            $scope.ui_flags.state = ST_AJAX.COMPLETED;

                            // Preprocess
                            for (var i = 0; i < records.length; i++) {
                                var row = records[i];

                                records[i]['created_by']['display_name'] = row['created_by']['first_name'] + ' ' + row['created_by']['last_name']

                                var status_html = '';
                                switch(row['status']){
                                    case 'new': status_html='<span class="text-info"><i class="fa fa-asterisk"></i>&nbsp;New</span>'; break;
                                    case 'processing': status_html='<span class="text-warning"><i class="fa fa-refresh fa-spin"></i>&nbsp;Processing</span>'; break;
                                    case 'error': status_html='<span class="text-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;Error</span>'; break;
                                }
                                records[i]['status_html'] = status_html;
                            }

                            // Update grid
                            $scope.list_datarecords = records;
                            $scope.grid_datarecords.gridapi.clear();
                            $scope.grid_datarecords.gridapi.insert(records);

                        },
                        function (response) {
                            $scope.ui_flags.state = ST_AJAX.ERROR;

                            if (response.status != -1) {
                                $scope.ui_flags.error_msg = "Something went wrong. Our engineers will be informed.";
                            } else {
                                $scope.ui_flags.error_msg = "Please check your internet connection.";
                            }

                        }
                );

            };

            $scope.remove_imports = function(){
                var $grid = $("#"+$scope.grid_datarecords.gridid);
                var list_ids = $grid.jqGrid('getGridParam','selarrrow');

                var count_requested = list_ids.length;
                if(!count_requested){
                    $.growl.warning({
                        title: '<i class="fa fa-exclamation-triangle"></i> Denied!',
                        message: 'Please select at least one import.'
                    });
                    return;
                }

                SweetAlert.swal({
                    title: "Are you sure?",
                    text: "Do you want to remove these imports?",
                    type: 'warning',
                    confirmButtonColor: "#DD6B55",
                    showCancelButton: true,
                    confirmButtonText: "Yes, remove!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    allowEscapeKey: false,
                    showLoaderOnConfirm: true,
                },
                function (isConfirm) {
                    if (isConfirm) {
                        ServiceStoreroom.remove_imports('{{ request.curr_org.org_uid }}', list_ids).then(
                            function (response){

                                if(response.partial){
                                    SweetAlert.swal({
                                        title: "Partial success!",
                                        text: 'Some of the imports in the queue were not removed possibily because they were being processed.<br/><b>' + response.count_deleted + '</b> of <b>' + count_requested + '</b> imports were successfully removed while remaining were processed.',
                                        type: "warning",
                                        html: true,
                                        showConfirmButton: true
                                    });
                                }

                                $scope.refresh_imports();
                            },
                            function(response){
                                var msg = '';
                                if (response.status != -1) {
                                    msg = "Something went wrong. Our engineers will be informed.";
                                } else {
                                    msg = "Please check your internet connection.";
                                }

                                $.growl.error({
                                    title: '<i class="fa fa-exclamation-triangle"></i> Error!',
                                    message: msg
                                });
                            }

                        );
                    }
                });

            };

            $scope.refresh_imports();

        });
    </script>
{% endblock %}