<div class="form-group">
    <label class="col-sm-3 control-label">Mobile No.<span class="required">*</span>:</label>
    <div class="col-sm-7">
        <div class="input-group date">
            <span class="input-group-addon">{$ country_tel_code $}</span>
            <input type="text" name="mobile_no" ng-model="data.mobile_no" class="form-control" placeholder="10-digit mobile no"  required
               minlength="10" maxlength="10"
               data-mask="9999999999"
               ng-class="{'error': (form_member.mobile_no.$dirty && form_member.mobile_no.$invalid) }"
               ng-change="find_user(data.mobile_no)"
               style="width: 150px;"
            >
        </div>
        <div ng-messages="form_member.mobile_no.$dirty && form_member.mobile_no.$error" role="alert" class="error_messages">
            <label ng-message="required" class="error">Please enter mobile no of the person to be invited.</label>
            <label ng-message="minlength" class="error">Mobile no must be of 10-digit.</label>
            <label ng-message="maxlength" class="error">Mobile no must be of 10-digit.</label>
        </div>
        <label ng-if="flags.errors.mobile_no" class="error">
            {$ flags.errors.mobile_no.join(", "); $}
        </label>
        <p class="help-block">
            Enter the mobile number of the person whom you want to invite and send him/her a SMS invitation.
            Incase, the person exists in our system, we will fill details for you. Please verify the number before
            proceeding.
        </p>

        <span ng-if="person_exists" class="text-primary">
            <i class="fa fa-check"></i> Person exists in our system.
        </span>
    </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Email:</label>
    <div class="col-sm-7">
        <input type="text" name="email" ng-model="data.email" class="form-control" placeholder="Email id of the person"
               pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
               ng-disabled="person_exists"
               ng-class="{'error': (form_member.email.$dirty && form_member.email.$invalid) }"
        >
        <div ng-messages="form_member.email.$dirty && form_member.email.$error" role="alert" class="error_messages">
            <label ng-message="email" class="error">Please enter a valid email address.</label>
        </div>
        <p class="help-block">
            Email address of the person. If provided, we will send him/her an email invitation as well.
        </p>
    </div>
</div>


<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Name<span class="required">*</span>:</label>
    <div class="col-sm-7">
        <div class="row">
            <div class="col-xs-6">
                <input type="text" name="first_name" ng-model="data.first_name" class="form-control" placeholder="First name" required
                   minlength="3" maxlength="30"
                   ng-disabled="person_exists"
                >
                <div ng-messages="form_member.first_name.$dirty && form_member.first_name.$error" role="alert" class="error_messages">
                    <label ng-message="required" class="error">Please enter first name of the invitee.</label>
                    <label ng-message="minlength" class="error">Minimum 3 characters required.</label>
                    <label ng-message="maxlength" class="error">Maximum 30 characters are allowed.</label>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" name="last_name" ng-model="data.last_name" class="form-control" placeholder="First name" required
                   maxlength="30"
                   ng-disabled="person_exists"
                >
                <div ng-messages="form_member.last_name.$dirty && form_member.last_name.$error" role="alert" class="error_messages">
                    <label ng-message="required" class="error">Please enter last name of the invitee.</label>
                    <label ng-message="maxlength" class="error">Maximum 30 characters are allowed.</label>
                </div>
            </div>
        </div>
    </div>
</div>


<h3 class="text-primary" style="margin-top: 40px;">
    Roles, Permissions and Access
</h3>
<hr/>
<div class="form-group">
    <label class="col-sm-3 control-label">Owner:</label>
    <div class="col-sm-7">
        <div class="checkbox checkbox-primary">
            <input id="chkbx_owner" type="checkbox" name="is_owner" ng-model="data.is_owner" ng-change="onchange_onwer()">
            <label for="chkbx_owner">
                Is owner
            </label>
        </div>
        <p class="help-block">
            If selected, it means this user is one of the owners of this organization. This will automatically give
            superuser permissions and access i.e. complete access.
        </p>
    </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Superuser:</label>
    <div class="col-sm-7">
        <div class="checkbox checkbox-primary">
            <input id="chkbx_superuser" type="checkbox" name="is_superuser" ng-model="data.is_superuser" >
            <label for="chkbx_superuser">
                Grant superuser access
            </label>
        </div>
        <p class="help-block">
            If selected, this person is granted all permissions and complete access over the portal.
        </p>
    </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Roles<span class="required">*</span>:</label>
    <div class="col-sm-7">
        <p class="help-block" style="margin-top: 7px;">
            Please select one or more <a ng-href="{$ url_roles $}">roles</a> for this person:
        </p>

        <div class="row">
            <div class="col-md-4" ng-repeat="role in list_roles">
                <div class="checkbox checkbox-primary" >
                    <input id="chkbx_role_{$ role.id $}" type="checkbox" checklist-model="data.roles" checklist-value="role.id" ng-required="!data.roles.length" >
                    <label for="chkbx_role_{$ role.id $}">
                        {$ role.name $}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Extra permissions:</label>
    <div class="col-sm-8">
        <p class="help-block" style="margin-top: 7px;">
            Extra list of permissions allowed for the person apart from the assigned roles:
        </p>

        <div style="height: 20px;margin-bottom: 15px;">
            <span ng-show="data.permissions.length" class="label label-default" style="font-size: 14px;">
                {$ data.permissions.length $} permissions selected
            </span>
        </div>

        <style>
            .bootstrap-duallistbox-container{
                border: solid 1px #e5e6e7;
                border-radius: 3px;
                padding: 10px 0px 15px 0px;
                margin-left: 0px !important;
            }

            #bootstrap-duallistbox-nonselected-list_permissions, #bootstrap-duallistbox-selected-list_permissions{
                height: 200px !important;
            }
        </style>
        <select ng-model="data.permissions" name="permissions" ng-options="p.content_type+' | '+p.name for p in list_all_permissions" multiple
                bs-duallistbox
                info-empty="No extra permissions selected"
        ></select>
        <div ng-messages="form_member.permissions.$dirty && form_member.permissions.$error" role="alert" class="error_messages">
            <label ng-message="required" class="error">Please select atleast one permission.</label>
        </div>

    </div>
</div>


<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Data access:</label>
    <div class="col-sm-7">
        <div style="margin-top: 7px;">
            Currently user has complete access at resource level for all granted permissions.
        </div>
    </div>
</div>
