{% extends 'base.html' %}

{% block content %}
    <h1>Verify</h1>
    <hr/>

    <div align="center">
        {{ new_registered_user.user.first_name }} you are one step away.
        A verification code has been send to you mobile number {{ new_registered_user.user.username }}.
        <br/>
        Kindly enter the code to verify yourself.

        <form method="post" >{% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <input type="text" name="code" placeholder="Enter code here" autocomplete="off" required>

            {% if status == 'failed' %}
                <p>{{ message }}</p>
            {% endif %}

            <br/>
            <button type="submit">Verify</button>
            <button type="button" onclick="resend_code();">Resend Code</button>
        </form>

        <small>You code will expire in {{ VERIFICATION_EXPIRY_MIN }} minutes.</small>
    </div>

    <script>
        function resend_code(){
            $.ajax({
                type: "POST",
                url: '{% url 'accounts_registration_resend_code' %}',
                data: {
                    "id": {{ new_registered_user.id }},
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (result) {
                    if(result.status=='success') {
                        location.reload();
                    }else{
                        alert(result.message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //location.reload();
                }
            });
        }
    </script>


{% endblock %}