{% extends 'base.html' %}

{% block content %}
    <h1>Verify</h1>
    <hr/>

    <div align="center">
        {{ new_registered_user.user.first_name }} you are one step away.
        An OTP has been send to you mobile number {{ new_registered_user.user.username }}.
        <br/>
        Kindly enter OTP to verify yourself.

        <form method="post" >{% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <input type="text" name="otp" placeholder="Enter OTP here" autocomplete="off" required>

            {% if status == 'failed' %}
                <p>{{ message }}</p>
            {% endif %}

            <br/>
            <button type="submit">Verify</button>
            <button type="button" onclick="resend_otp();">Resend OTP</button>
        </form>

        <small>You OTP will expire in {{ VERIFICATION_EXPIRY_MIN }} minutes.</small>
    </div>

    <script>
        function resend_otp(){
            $.ajax({
                type: "POST",
                url: '{% url 'accounts_registration_resend_otp' %}',
                data: {
                    "id": {{ new_registered_user.id }},
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (result) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //location.reload();
                }
            });
        }
    </script>


{% endblock %}