.navbar_brand_custom{
    padding: 8px !important;
    background: none !important;
    color: inherit !important;
    border-right: solid 1px #e7eaec;
}

.divider_custom{
    margin: 2px 0px !important;
}

.semi_bold{
    font-weight: 600 !important;
}

.browser_icon{
    height: 30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.required{
    color: red;
    font-weight: normal;
    margin-left: 2px;
}

.panel_body_realign{
    width: 100% !important;
    margin: 0px !important;
    border: none !important;
}

.panel_heading_2{
    font-size: 15px !important;
}

.hr_line_dashed_m15{
    margin: 15px 0px !important;
}
.hr_line_dashed_m10{
    margin: 10px 0px !important;
}

/* ----- form loader ----- */
.form-loading, .ps-container:hover.ps-in-scrolling.ps-in-scrolling, .ps-in-scrolling {
    pointer-events: none
}

.form-loading {
    position: relative;
    cursor: default;
    -moz-user-select: none;
    user-select: none
}

.form-loading:after, .form-loading:before {
    position: absolute;
    display: block;
    content: ''
}

.form-loading:before {
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .8)
}

.form-loading:after {
    z-index: 1001;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background-image: url(/static/images/loading/spinner_1.gif);
    background-size: 32px;
    content:"";
}

/*.form-loading:after {*/
    /*z-index: 1001;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*margin: -16px 0 0 -16px;*/
    /*-webkit-animation: form-spin .6s linear;*/
    /*animation: form-spin .6s linear;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*animation-iteration-count: infinite;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: #767676 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);*/
    /*border-radius: 999px*/
/*}*/

.form-loading.form-loading-inverted:before {
    background: rgba(0, 0, 0, .45)
}

.form-loading.form-loading-inverted:after {
    border-color: #fff rgba(255, 255, 255, .2) rgba(255, 255, 255, .2)
}

.modal-dialog .form-loading:before {
    z-index: 2080
}

.modal-dialog .form-loading:after {
    z-index: 2081
}

.form-loading, .switcher-indicator {
    -webkit-user-select: none;
    -ms-user-select: none
}
/* ----- /form loader ----- */

/* ----- panel alert ----- */
.panel_alerts > .alert {
    border-radius: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 8px 20px;
}
/* ----- /panel alert ----- */

.fake_readonly{
    background-color: #FFFFFF !important;
}

/* ---------- Desktop ---------- */
@media (min-width: 767px) {
    .mobile_show{
        display: none;
    }
}

/* ---------- Mobile ---------- */
@media (max-width: 767px) {
    .navbar_brand_custom{
        border-right: none !important;
    }

    .mobile_show{
        display: inline;
    }
}


