.navbar_brand_custom{
    padding: 8px !important;
    background: none !important;
    color: inherit !important;
    border-right: solid 1px #e7eaec;
}

.divider_custom{
    margin: 2px 0px !important;
}

.semi_bold{
    font-weight: 600 !important;
}

.browser_icon{
    height: 30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

/* ---------- Desktop ---------- */
@media (min-width: 767px) {
    .mobile_show{
        display: none;
    }
}

/* ---------- Mobile ---------- */
@media (max-width: 767px) {
    .navbar_brand_custom{
        border-right: none !important;
    }

    .mobile_show{
        display: inline;
    }
}


