<style>
    .form_section {
        margin-bottom: 30px;
    }
</style>
<div class="form_section">
    <h3>
        <i class="fa fa-info-circle"></i>&nbsp;
        General
    </h3>
    <hr style="margin: 15px 0px;"/>

    <div class="form-group">
        <label class="col-sm-2 control-label">Category<span
                class="required">*</span>:</label>

        <div class="col-sm-8">
            <select class="form-control" name="category"
                    ng-model="survey.category"
                    ng-class="{'error': (form_survey.category.$dirty && form_survey.category.$invalid)}"
                    required>
                <option value="">Please Select</option>
                <option ng-repeat="c in list_categories" value="{$ c.id $}">{$ c.name $}</option>
            </select>

            <p class="help-block m-b-none">
                Category to which this survey belongs.
            </p>

            <div ng-messages="form_survey.category.$dirty && form_survey.category.$error"
                 role="alert" class="error_messages">
                <label ng-message="required" class="error">Please select a
                    category.</label>
            </div>
            <label ng-if="flags.val_errors.category" class="error">
                {$ flags.val_errors.category.join(", ") $}
            </label>
        </div>
    </div>

    <div class="hr-line-dashed hr_line_dashed_m10"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Title<span
                class="required">*</span>:</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" name="title"
                   ng-model="survey.title"
                   ng-class="{'error': (form_survey.title.$dirty && form_survey.title.$invalid)}" required>

            <p class="help-block m-b-none">
                Catchy title for your survey.
            </p>

            <div ng-messages="form_survey.title.$dirty && form_survey.title.$error"
                 role="alert" class="error_messages">
                <label ng-message="required" class="error">Please enter a
                    title.</label>
            </div>
            <label ng-if="flags.val_errors.title" class="error">
                {$ flags.val_errors.title.join(", ") $}
            </label>
        </div>
    </div>

    <div class="hr-line-dashed hr_line_dashed_m10"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description<span class="required">*</span>:</label>

        <div class="col-sm-9">
            <textarea summernote name="description"
                      ng-model="survey.description" config="summernote_config"
                      required></textarea>

            <p class="help-block m-b-none">
                Detailed description about your survey. Use this area to explain
                what your survey is all about and
                purpose you want to achieve. Your description provides
                authenticity about your survey to the participants.
            </p>

            <div ng-messages="form_survey.description.$dirty && form_survey.description.$error"
                 role="alert" class="error_messages">
                <label ng-message="required" class="error">Please write
                    something about your survey.</label>
            </div>
            <label ng-if="flags.val_errors.description" class="error">
                {$ flags.val_errors.description.join(", ") $}
            </label>
        </div>
    </div>
</div>

<!-- Duration -->
<div class="form_section">
    <h3>
        <i class="fa fa-calendar"></i>&nbsp;
        Duration
    </h3>
    <hr style="margin: 15px 0px 10px 0px;"/>
    <div class="form-group">
        <div class="col-sm-6">
            <p class="help-block" style="margin-top: 0px;">
                Date range for which this survey will be live.
            </p>

            <div ng-class="{'input-group':survey.duration.endDate && survey.duration.startDate}">
                <input date-range-picker name="duration"
                       class="form-control date-picker" type="text"
                       ng-model="survey.duration"
                       min="daterange_opt.min"
                       options="{separator: '  to  ', format: 'DD-MMM-YYYY'}"
                       required
                />
                <span class="input-group-addon"
                      ng-if="survey.duration.endDate && survey.duration.startDate">
                    {$ survey.duration.endDate.diff(survey.duration.startDate, 'days')+1 $} day/s
                </span>
            </div>
            <div ng-messages="form_survey.duration.$dirty && form_survey.duration.$error"
                 role="alert" class="error_messages">
                <label ng-message="required" class="error">Please select date
                    range.</label>
            </div>
            <label ng-if="flags.val_errors.start_date || flags.val_errors.end_date"
                   class="error">
                {$ flags.val_errors.start_date.join(", ") $} {$
                flags.val_errors.end_date.join(", ") $}
            </label>
        </div>
    </div>
</div>

<!-- Audience -->
<div>
    <h3>
        <i class="fa fa-users"></i>&nbsp;
        Audience
    </h3>
    <hr style="margin: 15px 0px;"/>
    <div class="form-group">
        <label class="col-sm-2 control-label">Audience type<span
                class="required">*</span>:</label>

        <div class="col-sm-8" style="padding-top: 7px;">
            <p>
                Select the following types of audience that can participate in this
                survey:
            </p>

            <div>
                <div class="radio radio-primary">
                    <input type="radio" id="chk_audtype_public" value="public"
                           name="audience_type" ng-model="survey.audience_type"
                           required>
                    <label for="chk_audtype_public">
                        <span class="semi_bold">Public</span> <br/>
                        <small>Survey will be open to public and anyone can
                            respond to it.
                        </small>
                    </label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" id="chk_audtype_invited" value="invited"
                           name="audience_type" ng-model="survey.audience_type"
                           required>
                    <label for="chk_audtype_invited">
                        <span class="semi_bold">Invited</span> <br/>
                        <small>
                            Survey will not be visible to public. Only those who
                            have Survey-UID or qrcode can
                            respond to it.
                        </small>
                    </label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" id="chk_audtype_self" value="self"
                           name="audience_type" ng-model="survey.audience_type"
                           required>
                    <label for="chk_audtype_self">
                        <span class="semi_bold">Self</span> <br/>
                        <small>
                            No one other than you can respond to this survey.
                            Use this when you are conducting survey yourself.
                        </small>
                    </label>
                </div>
            </div>

            <div ng-messages="form_survey.audience_type.$dirty && form_survey.audience_type.$error"
                 role="alert" class="error_messages">
                <label ng-message="required" class="error">Please select an
                    audience type.</label>
            </div>
            <label ng-if="flags.val_errors.audience_type" class="error">
                {$ flags.val_errors.audience_type.join(", ") $}
            </label>
        </div>
    </div>

</div>

<!-- Save -->
<div class="hr-line-dashed"></div>
<div class="form-group" style="margin-bottom: 0px !important;">
    <div class="col-sm-7">
        <div ng-if="flags.error_msg"
             class="alert alert-danger alert-dismissable"
             style="padding: 10px 30px 10px 10px;margin-bottom: 20px;">
            <button aria-hidden="true" data-dismiss="alert" class="close"
                    type="button">×
            </button>
            <i class="fa fa-exclamation-triangle"></i>&nbsp;
            {$ flags.error_msg $}
        </div>

        <button ladda="flags.submitting" class="btn btn-primary ladda-button"
                type="button" ng-disabled="form_survey.$invalid"
                ng-click="submit(form_survey)" data-style="zoom-in">
            {$ ACTION=='edit'?'Save':'Create' $}
        </button>
        <button class="btn btn-link" type="button"
                onclick="location.href = location.pathname;">Cancel
        </button>
    </div>
</div>