<div class="form-group">
    <label class="col-sm-3 control-label">BSP Type<span class="required">*</span>:</label>
    <div class="col-sm-7" ng-if="ACTION=='create'">
        <select ng-model="data.bsp_type" name="bsp_type" class="form-control" required ng-change="onchange_bsp_type();">
            <option value="">Select type</option>
            <option ng-repeat="type in list_avail_types" ng-value="type.id">{$ type.name $}</option>
        </select>
        <p class="help-block">
            Type of BSP you want to customize.
        </p>

        <div ng-messages="form_customize_type.bsp_type.$dirty && form_customize_type.bsp_type.$error" role="alert" class="error_messages">
            <label ng-message="required" class="error">Please select a type which you want to customize.</label>
        </div>
        <label ng-if="flags.errors.bsp_type" class="error">
            {$ flags.errors.bsp_type.join(", "); $}
        </label>
    </div>
    <div class="col-sm-7" ng-if="ACTION=='edit'" style="padding-top: 7px;">
        {$ data.bsp_type|titleCase  $}
    </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Custom attributes<span class="required">*</span>:</label>
    <div class="col-sm-7" style="padding-top: 4px;">
        <div class="help-block">
            To capture more attributes for a BSP of the type apart from predefined ones, add attributes by clicking below
            button.
            <br/><br/>
            Please note that custom attribute cannot have label present in <a href="javascript: void(0);" ng-click="view_reserved_labels=true;">reserved labels</a>. These reserved label are those which
            are already defined for the BSP.

            <div class="panel panel-default" ng-show="view_reserved_labels" style="margin-top: 5px;">
                <div class="panel-heading">
                    Reserved labels
                    <a class="pull-right" href="javascript: void(0);" ng-click="view_reserved_labels=false;"><i class="fa fa-times"></i></a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="lbl in reserved_labels.common">{$ lbl $}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="lbl in reserved_labels.type_wise">{$ lbl $}</div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>
                        Label<span class="required">*</span>
                        &nbsp;
                        <i class="fa fa-info-circle custom_tooltip" tooltip-placement="top" uib-tooltip="A label is something that will be used to refer this attribute. This must be unique."></i>
                    </th>
                    <th>
                        Name<span class="required">*</span>
                        &nbsp;
                        <i class="fa fa-info-circle custom_tooltip" tooltip-placement="top" uib-tooltip="Human readable name of the attribute."></i>
                    </th>
                    <th>
                        Data type<span class="required">*</span>
                        &nbsp;
                        <i class="fa fa-info-circle custom_tooltip" tooltip-placement="top" uib-tooltip="Type of value for this attribute."></i>
                    </th>
                    <th style="width: 20px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attr in data.schema">
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="attr.label" name="attr_label_{$ $index $}" val-variable-name tolower required ng-class="{'error':form_customize_type['attr_label_'+$index].$invalid}">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="attr.name" name="attr_name_{$ $index $}" required ng-class="{'error':form_customize_type['attr_name_'+$index].$invalid}">
                    </td>
                    <td>
                        <select ng-model="attr.dtype" name="attr_dtype_{$ $index $}" class="form-control input-sm" required ng-class="{'error':form_customize_type['attr_dtype_'+$index].$invalid}">
                            <option value="">Select</option>
                            <option ng-repeat="dt in list_dtypes" ng-value="dt.id">{$ dt.name $}</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-outline btn-xs" ng-click="remove_attr($index);">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="add_attr();">
                            <i class="fa fa-plus"></i> Add new attribute
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div role="alert" class="error_messages" ng-if="!data.schema.length">
            <label class="error">Please add atleast one attribute.</label>
        </div>
        <label ng-if="flags.errors.schema" class="error">
            {$ flags.errors.schema.join(", "); $}
        </label>
    </div>
</div>